.nav{
    visibility: hidden;
    position: absolute ;
    top: 75px;
    right:0px;    
    text-align: left;
    width: 230px;
    height: 764px;
    background-color: #FFFFFF;
}
.nav__list{
    padding-top: 16px;
    margin-top: 0;
}
.nav__list-button{
    text-align: right;
    margin: 0 17px 9px 0;
}
.nav__list-subtitle{
    color: $pink;
}
.nav__list-sublist{
    padding-left: 21.5px;
}